<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <!--System Configs-->
    <add key="WebAppDomain" value="http://localhost:3998/" />
    <add key="AppDomain" value="http://localhost:1040/" />
    <!--伪静态路径最大深度-->
    <add key="rewritedepth" value="10" />
    <!--自定义响应头，key-value用冒号隔开，多个头用封号隔开-->
    <add key="responseheaders" value="Access-Control-Allow-Origin:*;Access-Control-Allow-Methods:GET,POST,PUT,DELETE;Access-Control-Allow-Headers:Content-Type" />
    <!--End System Configs-->

    <!--Log Save Location-->
    <add key="Log_Location_General_DG" value="Log_QX_Frame/Log_QX_Frame_General/" />
    <add key="Log_Location_Error_DG" value="Log_QX_Frame/Log_QX_Frame_Error/" />
    <add key="Log_Location_Use_DG" value="Log_QX_Frame/Log_QX_Frame_Use/" />
    <!--end Log Save location-->

    <!-- Cache config-->
    <add key="IsCache" value="1" />
    <!-- 1 true 0 false-->
    <add key="CacheExpirationTime_Minutes" value="10" />
    <!--end Cache config-->

    <!--Auth validation config unit="minute"-->
    <add key="RequestExpireTime" value="10" />

    <add key="Auth_Token_ExpireTime_days" value="0" />
    <add key="Auth_Token_ExpireTime_hours" value="0" />
    <add key="Auth_Token_ExpireTime_minutes" value="30" />
    <!--end Auth validation config-->

    <!--Programe Configs-->

    <!--end Programe Configs-->
  </appSettings>
  <connectionStrings>
    <add name="ConStr" connectionString="Data Source=.;Initial Catalog=employmentDB;Integrated Security=True" />
  </connectionStrings>

</configuration>